<section>
	<div class="container">
		<h1>Evangelists</h1>
		<table class="table table-bordered">
			<tr><th>Name</th><th>Email</th></tr>
<% @signups.each do |e| %>
<tr>
<td><%= e.fullname %></td> 
<td><%= e.email %></td> 
</tr>
<% end %>
</table>
</div>
</section>
