<div class="outer">
	<div class="main">
		<div class="centered-800 share-btn rounded row">
			<h2 class="content-heading">Thanks for your email. Help us spread the word</h2>
			<hr class="gray">
			<div class="col-md-4 col-sm-4 col-xs-4">
				
				<a target="_blank" href='https://twitter.com/intent/tweet?url=http://www.phonesalad.com&amp;text=Just signed up for an invite to phonesalad.com.'><img src="../tweetbtn.png" /></a>
			</div>
			<div class="col-md-4 col-sm-4 col-xs-4">
<a target="_blank" href="https://plus.google.com/share?url=http://www.phonesalad.com"><img src="../gplusbtn.png"></a>		</div>
		
		<div class="col-md-4 col-sm-4 col-xs-4">
			<a target="_blank" href="http://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=http://www.phonesalad.com&amp;p[title]=JJust signed up for an invite to phonesalad.com.&amp;p[summary]=It is a marketplace to buy and sell new/lightly used iPhones and iPads"><img src="../fbbtn.png"></a>
		</div>
		</div>
	</div>
</div>