<!DOCTYPE html>
<html>
<head>
  <title>Phonesalad</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Roboto:400,100' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
<%= yield %>
<div id="footer" class="offshadow">
	<ul class="footer-links">
		<h4>Follow us on social media</h4>
		<li><a href="http://www.twitter.com/phonesalad" target="_blank"><img src="../tweetbtn.png" /></a></li>
		<li><a href="https://www.facebook.com/pages/Phonesalad" target="_blank"><img src="../fbbtn.png" /></a></li>
		<li><a href="https://plus.google.com/108408910683974264673/about" target="_blank"><img src="../gplusbtn.png" /></a></li>
		<li><a href="https://www.linkedin.com/company/phonesalad" target="_blank"><img src="../linkedin.png" /></a></li>
	</ul>
		<ul class="support-links">
			<h4>You can reach us via:</h4>
			<li><a mailto="support@phonesalad.com">Support Email</a></li>
			<li><a mailto="info@phonesalad.com">Information email</a></li>
			<li><a href="#">Phone: +65-85868355</a></li>
		</ul>
	
	<div id="credits" class="centered-text softshadow"><p>All rights reserved.</p></div>
</div>
</body>
</html>
